
.icon-tijden:before { content: '\e800'; } /* '' */
.icon-instellen:before { content: '\e801'; } /* '' */
.icon-calendar-alt:before { content: '\e802'; } /* '' */
.icon-lessen:before { content: '\e803'; } /* '' */
.icon-stopwatch:before { content: '\e804'; } /* '' */
.icon-meter:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-uitloggen:before { content: '\e807'; } /* '' */
.icon-schema:before { content: '\e808'; } /* '' */
.icon-instellingen:before { content: '\e809'; } /* '' */
.icon-left-circled2:before { content: '\e80a'; } /* '' */
.icon-reply-outline:before { content: '\e80b'; } /* '' */
.icon-left:before { content: '\e80c'; } /* '' */
.icon-right:before { content: '\e80d'; } /* '' */